doctype html
html
    head
        title
            block title
            |&nbsp;- Dooglys
        block head
            link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet")
            link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
            link(href=PREFIX_URL + '/css/app.min.css', rel='stylesheet', type='text/css')
            link(href=PREFIX_URL + '/css/style.css', rel='stylesheet', type='text/css')
    body
        .wrapper
            #root
            block content

        block pageScripts
